{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <aside class="profile-info col-lg-3">
    <div class="panel">
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
        /* 
        {% url 'uc:profile' as uc_profile %}
        {% url 'uc:change_passwd' as uc_change_passwd %}
        {% url 'uc:answer' as uc_answer %}
        {% url 'uc:collect' as uc_collect %}
        {% url 'uc:contribut' as uc_contribut %}
        {% url 'uc:approval' as uc_approval %}
        */
        <li role="presentation" class="{% if current_url == uc_profile %}active{% endif %}"><a href="{{ uc_profile }}">个人资料</a></li>
        <li role="presentation" class="{% if current_url == uc_change_passwd %}active{% endif %}"><a href="{{ uc_change_passwd }}">修改密码</a></li>
        <li role="presentation" class="{% if current_url == uc_answer %}active{% endif %}"><a href="{{ uc_answer }}">我的回答</a></li>
        <li role="presentation" class="{% if current_url == uc_collect %}active{% endif %}"><a href="{{ uc_collect }}">我的收藏</a></li>
        <li role="presentation" class="{% if current_url == uc_contribut %}active{% endif %}"><a href="{{ uc_contribut }}">我的贡献</a></li>
        {% if perms.repo.can_change_question_status %}
            <li role="presentation" class="{% if current_url == uc_approval %}active{% endif %}"><a href="{{ uc_approval }}">题目审核</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </aside>
  <aside class="profile-info col-lg-9">
      <section>
          <div class="row">
            {% block uc_content %}
            {% endblock %}
          </div>
      </section>
  </aside>
</div>

{% endblock %}
{% block load_js %}
  <script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
  <script>
      //knob
      $(".knob").knob();
  </script>
{% endblock %}